@font-face {
	font-family: font1;
	src: url(../../fonts/LEMONMILK-Light.otf);
}

@font-face {
	font-family: font2;
	src: url(../../fonts/LEMONMILK-Bold.otf);
}
@font-face {
	font-family: font3;
	src: url(../../fonts/Taman\ Signature.ttf);
}

.hero {
	align-items: center;
	background-image: linear-gradient(
			rgba(255, 255, 255, 0.5),
			rgba(255, 255, 255, 0.5)
		),
		url(../../images/picnic.jpeg);
	background-position: 17% 90%;
	background-size: cover;
	color: black;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: space-around;
	top: 0;
	width: 100vw;
	margin-bottom: 2rem;
}

.about-button {
	background-size: 400% 400%;
	background: linear-gradient(45deg, #cc1c5e, #eead66, #cc1c5e);
	border-radius: 10px;
	border: none;
	box-shadow: 1vw 1vw 0 #b3b1b1;
	color: white;
	cursor: pointer;
	font-family: font1;
	font-size: 1rem;
	letter-spacing: 0.1em;
	outline: none;
	padding: 5px 10px;
	text-decoration: none;
	transform: translate(-50%, -80%);
	transition: all 0.3s ease;
}

.about-button:hover {
	animation: gradient 10s ease infinite;
	font-size: 2.05vw;
	box-shadow: 0.2vw 0.2vw 0 #b3b1b1;
}

@keyframes gradient {
	50% {
		background-position: 100% 0;
	}
}

.container {
	display: flex;
	flex-direction: column;
	padding-top: 5rem;
}

h1 {
	font-size: 3rem;
	font-family: font2;
	text-align: center;
}

.container h2 {
	font-family: font3;
	font-size: 2.5rem;
	margin: 3rem auto auto auto;
}
