@font-face {
	font-family: font1;
	src: url(../../fonts/LEMONMILK-Light.otf);
}

@font-face {
	font-family: font2;
	src: url(../../fonts/LEMONMILK-Bold.otf);
}

.main-container {
	background-color: coral;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	/* position: absolute;
	top: 100vh;
	width: 100%; */
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.main-container h2 {
	text-align: center;
	margin: auto;
	display: block;
	font-family: font2;
}

.service-container {
	background-color: lightcoral;
	width: 220px;
	height: 220px;
	text-align: center;
	margin: 0.5rem;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.service-container h3 {
	font-family: font2;
}

.service-container span {
	font-family: font1;
}

.icons {
	font-size: 3rem;
	margin: 0 auto;
	color: ghostwhite;
}
